<!-- 
This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2018-2019.
-->

<!--CODE HISTORY 
# Sontillano     # Mar 20, 2019    # made layout 

# File creation date: Mar. 20, 2019
-->
{% extends "ownerpage/base.html" %}

          {% block title %} Account {% endblock title %}
          
          {% block content %}
          <!-- Container -->          
          <div class="container">
               <div class="row title justify-content-center">
                    <div class="col-10">
                         Owner
                    </div>
               </div>

               <!--separates the title and table-->
               <div class="separator"></div>

               <form method="post">
               {% csrf_token %}
                    <div class="row justify-content-center form-group">
                         <div class="col-3">
                              <label class="col-form-label fieldName" >username</label>
                         </div>
                         <div class="col-7">
                              {{form.ownername}}
                         </div>
                    </div> 
                    <div class="row justify-content-center form-group">
                         <div class="col-3">
                              <label class="col-form-label fieldName" >first name</label>
                         </div>
                         <div class="col-7">
                              {{form.firstname}}
                         </div>
                    </div> 
                    <div class="row justify-content-center form-group">
                         <div class="col-3">
                              <label class="col-form-label fieldName" >last name</label>
                         </div>
                         <div class="col-7">
                              {{form.lastname}}
                         </div>
                    </div> 
                    <div class="row justify-content-center form-group">
                         <div class="col-3">
                              <label class="col-form-label fieldName" >email</label>
                         </div>
                         <div class="col-7">
                              {{form.email}}
                         </div>
                    </div> 

                    <!--separates the title and table-->
                    <div class="separator"></div> 
                    
                    <div class="row justify-content-end form-group">
                         <div class="col-auto align-self-end">
                              <a type="button" class="btn btnN" href="/ownerpage/home">Back</a>
                         </div>
                         <div class="col-auto align-self-end">
                              <button type="submit" class="btn btnY" name="_save">Next</button>
                         </div>
                    </div>
               </form>
          </div>
          {% endblock content %}

          