<!-- 
This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2018-2019.
-->

<!--CODE HISTORY 
# Sontillano     # Mar 20, 2019    # made layout 

# File creation date: Mar. 20, 2019
-->
{% extends "ownerpage/base.html" %}

          {% block title %} HomeKo Owner {% endblock title %}
          
          {% block scripts %}
          <script>
               jQuery(document).ready(function($) {
                    $(".clickable-row").click(function() {
                         window.location = $(this).data("href");
                    });
               });
          </script>
          {% endblock scripts %}
          
          {% block content %}
          <!-- Container -->          
          <div class="container">
               <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-7 col-6 title ">
                         My Housings 
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                         
                    </div>
               </div>   

               <!--separates the title and table-->
               <div class="separator"></div>

               <div class="row form_login justify-content-center">
                    <div class="col-sm-9 col-10 table-responsive">
                         <table class="table">
                              <thead>
                                   <th class="th_tabsTable">Name</th>
                              </thead>
                              
                              <tbody>
                                   {% for record in records %}
                                   <tr class="clickable-row" data-href="/ownerpage/housing/{{record.housingid.housingid}}">
                                        <td>{{record.housingid.housingname}}</td>
                                   </tr>
                                   {% endfor %}
                              </tbody>
                         </table>
                    </div>
               </div>
          </div>
          {% endblock content %}

          