<!-- 
This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2018-2019.
-->

<!--CODE HISTORY 
# Sontillano     # Mar 20, 2019    # made layout 

# File creation date: Mar. 20, 2019
-->
{% extends "ownerpage/base.html" %}

          {% block title %} Record {% endblock title %}
         
          {% block otherModals %}
          <div class="modal fade" id="addeditroom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog" role="document">
                    <div class="modal-content">
                         <form method="GET" action="#">
                              <div class="modal-header">
                                   <h5 class="modal-title" id="exampleModalLabel">Room</h5>
                                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                   </button>
                              </div>
                              <div class="modal-body">         
                                   <div class="form-group row">
                                        <div class="col-4">
                                             <label for="area_modal" class="col-form-label">Room Name</label>
                                        </div>
                                        <div class="col-8">
                                             {{roomform.roomname}}
                                        </div>
                                   </div>      
                                   <div class="form-group row">
                                        <div class="col-4">
                                             <label for="area_modal" class="col-form-label">Cost</label>
                                        </div>
                                        <div class="col-8">
                                             {{roomform.cost}}
                                        </div>
                                   </div>  
                              </div>           
                              <div class="modal-footer">
                                   <button type="button" class="btn btnN" data-dismiss="modal">Cancel</button>
                                   <button type="submit" class="btn btnY" id="_save" name="_save" value="0">Save</button>
                              </div>
                         </form>          
                    </div>
               </div>
          </div>                   

          <!-- delete modal -->
          <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
               <div class="modal-dialog" role="document">
                    <div class="modal-content">
                         <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Confirm deletion</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                              </button>
                         </div>
                         <div class="modal-body">
                              Are you sure want to delete this?
                         </div>
                         <div class="modal-footer">
                              <form method='GET' action='#'>
                                   <button type="button" class="btn btnN" data-dismiss="modal">Cancel</button>
                                   <button type="submit" class="btn btnY" id="_delete" name="_delete" value="0">Yes</button>
                              </form>
                         </div>
                    </div>
               </div>
          </div>    
          {% endblock otherModals %}                       

          {% block content %}
          <!-- Container -->          
          <div class="container">
               <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-7 col-6 d-none d-sm-block title">
                         Rooms
                    </div>
                    <div class="col-11 d-block d-sm-none title">
                         Rooms
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 d-none d-sm-block">
                         <a role="button" href="#" id="add_room" class="btn btnY">Add room</a>
                    </div>
                    <div class="col-11 d-block d-sm-none">
                         <a role="button" href="#" id="add_room" class="btn btnY">Add room</a>
                    </div>
                    <script>
                         $(document).ready(function(){
                              $('#add_room').click(function(){                                
                                   $('#id_roomname').val('');
                                   $('#id_cost').val('');
                                   $('#addeditroom').modal('show')
                              });
                         });
                    </script>
               </div>   

               <!--separates the title and table-->
               <div class="separator"></div>

               <form method="post">
               {% csrf_token %}
                    {% for room in rooms %}
                    <div class="row justify-content-center form-group">                        
                         <div class="col-sm-7 col-6">
                              {{room.roomname}} : {{room.cost}}
                         </div>
                         <div class="col-sm-1 col-2">
                              <a class="nav-link" id="edit_{{room.roomid}}" href="#{{room.roomid}}">edit</a>
                         </div> 
                         <div class="col-sm-1 col-2">
                              <a class="nav-link" href="#{{room.roomid}}" id="delete_{{room.roomid}}">delete</a>
                         </div>               
                    </div>  
                    <script>
                         $(document).ready(function(){
                              $('#edit_{{room.roomid}}').click(function(){
                                   $('#id_roomname').val('{{room.roomname}}');
                                   $('#id_cost').val('{{room.cost}}');
                                   $('#_save').val('{{room.roomid}}');
                                   $('#addeditroom').modal('show')
                              });

                              $('#delete_{{room.roomid}}').click(function(){
                                   $('#_delete').val('{{room.roomid}}');    
                                   $('#delete').modal('show')
                              });
                         });
                    </script>
                    {% endfor %}

                    <!--separates the title and table-->
                    <div class="separator"></div> 
                    
                    <div class="row justify-content-end form-group">
                         <div class="col-auto align-self-end">
                              <a type="button" class="btn btnN" href="/ownerpage/housing/{{housingid}}">Back</a>
                         </div>
                         <div class="col-auto align-self-end">
                              <a type="button" class="btn btnY" href="/ownerpage/housing/{{housingid}}/amenity">Next</a>
                         </div>
                    </div>
               </form>
          </div>
          {% endblock content %}
         