<!-- 
This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2018-2019.
-->

<!--CODE HISTORY 
# Sontillano     # Feb 10, 2019    # made layout of the page
# Sontillano     # Feb 16, 2019    # fixed design
# Sontillano     # Mar 4, 2019     # fixed navbar

# File creation date: Feb. 10, 2019
-->
{% extends "adminpage/base.html" %}

          {% block scripts %}
          <script>
               jQuery(document).ready(function($) {
                    $(".clickable-row").click(function() {
                         window.location = $(this).data("href");
                    });
               });
          </script>
          {% endblock scripts %}
    
          <!-- actual page content -->
          {% block content %}
          <div class="container">
               <div class="row title justify-content-center">
                    Tables
               </div>

               <!--separates the title and table-->
               <div class="separator_adminhome"></div>

               <div class="row table_list justify-content-center">
                    <div class="col-sm-8 col-10 table-responsive">
                         <table class="table">
                              <tbody>
                                   {% for n, table in tableChoices %}
                                   <tr class="clickable-row" data-href="/adminpage/{{table}}">
                                        <td>{{table}}</td>
                                   </tr>
                                   {% endfor %}
                              </tbody>
                         </table>
                    </div>
               </div>
          </div>
          {% endblock content %}

         