<!-- 
This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2018-2019.
-->

<!--CODE HISTORY 
# Sontillano     # Mar 6, 2019    # made layout and design 

# File creation date: Mar. 6, 2019
-->
{% extends "adminpage/base.html" %}

          {% block title %}
          {{tableName}}
          {% endblock title %}

          {% block scripts %}
          <script>
               jQuery(document).ready(function($) {
                    $(".clickable-row").click(function() {
                         window.location = $(this).data("href");
                    });
               });
          </script>
          {% endblock scripts %}
          
          {% block errorMessage %}
          {% if messages %}
               {% for message in messages %}
               <div class="alert alert-warning alert-dismissible fade show" role="alert">
               <strong>Record does not exist!</strong>
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
               </button>
               </div>
               {% endfor %}
          {% endif %}
          {% endblock errorMessage %}
          
          {% block content %}
          <!-- Container -->          
          <div class="container">
               <div class="row justify-content-center">
                    <div class="col-8 title ">
                         {{tableName}}  
                    </div>
                    <div class="col-2">
                        
                    </div>
               </div>   

               <!--separates the title and table-->
               <div class="separator"></div>

               <div class="row justify-content-center">
                    <div class="col-9">
                         <ul class="nav nav-tabs" id="myTab" role="tablist">
                              <li class="nav-item">
                                   <a class="nav-link active tab" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Pending</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link tab" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Approved</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link tab" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Not Approved</a>
                              </li>
                         </ul>
                         <div class="tab-content" id="myTabContent">
                              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                   <div class="table-responsive">
                                        <table class="table">
                                             <thead>
                                                  <th class="th_tabsTable">PK</th>
                                                  <th class="th_tabsTable">Name</th>
                                             </thead>
                                             <tbody>
                                                  {% for record in pending %}
                                                  <tr class="clickable-row" data-href="/adminpage/{{tableName}}/{{record.feedbackid}}">
                                                       <td>{{record.feedbackid}}</td>
                                                       <td>{{record.comment|truncatewords:10}}</td>
                                                  </tr>
                                                  {% endfor %}
                                             </tbody>
                                        </table>
                                   </div>
                              </div>
                              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                   <div class="table-responsive">
                                        <table class="table">
                                             <thead>
                                                  <th>PK</th>
                                                  <th>Name</th>
                                             </thead>
                                             <tbody>
                                                  {% for record in approved %}
                                                  <tr class="clickable-row" data-href="/adminpage/{{tableName}}/{{record.feedbackid}}">
                                                       <td>{{record.feedbackid}}</td>
                                                       <td>{{record.comment|truncatewords:10}}</td>
                                                  </tr>
                                                  {% endfor %}
                                             </tbody>
                                        </table>
                                   </div>
                              </div>
                              <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                   <div class="table-responsive">
                                        <table class="table">
                                             <thead>
                                                  <th>PK</th>
                                                  <th>Name</th>
                                             </thead>
                                             <tbody>
                                                  {% for record in notapproved %}
                                                  <tr class="clickable-row" data-href="/adminpage/{{tableName}}/{{record.feedbackid}}">
                                                       <td>{{record.feedbackid}}</td>
                                                       <td>{{record.comment|truncatewords:10}}</td>
                                                  </tr>
                                                  {% endfor %}
                                             </tbody>
                                        </table>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          {% endblock content %}

         