<!-- 
This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2018-2019.
-->
<!--
# CODE HISTORY 
# Sontillano     # Feb 10, 2019    # made layout of the page
# Sontillano     # Feb 16, 2019    # fixed design
# Sontillano     # Mar 4, 2019     # fixed navbar

# File creation date: Feb. 10, 2019
-->
{% extends "adminpage/base.html" %}

          {% block title %} Admin Log in {% endblock title %}

          {% block navbarRight %}
                         <ul class="navbar-nav mr-auto"></ul>
                         <ul class="navbar-nav">
                              <li class="nav-item">
                                   <a class="nav-link" href="/">View Website</a>
                              </li>
                         </ul>
          {% endblock navbarRight %}
                   
          {% block content %}
          <!-- actual page content -->
          <div class="container">
               <div class="row title justify-content-center">
                    Admin Log in
               </div>

               <!--separate page description and form-->
               <div class="separator_adminhome"></div>

               <!--log in form-->
               <div class="row form_login justify-content-center">
                    <div class="col-4">
                         <form method="post">
                         {% csrf_token %}
                              <!--username textbox-->        
                              <div class="form-group">
                                   <label for="uname" class="formLabel">Username</label>
                                   <input type="text" class="form-control" id="uname" name="uname" required="true">
                              </div>

                              <!--password textbox-->         
                              <div class="form-group">
                                   <label for="ownerPW" class="formLabel">Password </label>
                                   <input type="password" class="form-control" id="adminPW" name="pw" placeholder="Password" required="true">
                                   {% if incorrect %}
                                   <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        Incorrect username and/or password!
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                             <span aria-hidden="true">&times;</span>
                                        </button>
                                   </div>
                                   {% endif %}
                              </div>

                              <!-- submit button -->
                              <button type="submit" class="btn btnY">Log in</button>          
                         </form>
                    </div>
              </div>
          </div>
          {% endblock content %}
