<!-- 
This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2018-2019.
-->

<!--CODE HISTORY 
# Sontillano     # Feb 12, 2019    # made layout of the page
# Sontillano     # Feb 17, 2019    # fixed design
# Sontillano     # Mar 4, 2019     # fixed navbar

# File creation date: Feb. 12, 2019
-->
{% extends "adminpage/base.html" %}

          {% block title %} Owner {% endblock title %}
          
          {% block otherModals %}
          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
               <div class="modal-dialog" role="document">
                    <div class="modal-content">
                         <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Confirm deletion</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                              </button>
                         </div>
                         <div class="modal-body">
                              Are you sure want to delete this record?
                         </div>
                         <div class="modal-footer">
                              <form method='GET' action='#'>
                                   <button type="button" class="btn btnN" data-dismiss="modal">Cancel</button>
                                   <button type="submit" class="btn btnY" name="_delete">OK</button>
                              </form>
                         </div>
                    </div>
               </div>
          </div>
          {% endblock otherModals %}
          
          {% block content %}
          <!-- Container -->          
          <div class="container">
               <div class="row title justify-content-center">
                    <div class="col-10">
                         Owner
                    </div>
               </div>

               <!--separates the title and table-->
               <div class="separator"></div>

               <form method="post">
               {% csrf_token %}
                    {% if recordExist %}
                    <div class="row justify-content-center form-group">
                         <div class="col-3">
                              <label class="col-form-label fieldName" >id</label>
                         </div>
                         <div class="col-7">
                              {{record.ownerid}}
                         </div>
                    </div> 
                    {% endif %}
                    <div class="row justify-content-center form-group">
                         <div class="col-3">
                              <label class="col-form-label fieldName" >username</label>
                         </div>
                         <div class="col-7">
                              {{form.ownername}}
                         </div>
                    </div> 
                    <div class="row justify-content-center form-group">
                         <div class="col-3">
                              <label class="col-form-label fieldName" >first name</label>
                         </div>
                         <div class="col-7">
                              {{form.firstname}}
                         </div>
                    </div> 
                    <div class="row justify-content-center form-group">
                         <div class="col-3">
                              <label class="col-form-label fieldName" >last name</label>
                         </div>
                         <div class="col-7">
                              {{form.lastname}}
                         </div>
                    </div> 
                    <div class="row justify-content-center form-group">
                         <div class="col-3">
                              <label class="col-form-label fieldName" >email</label>
                         </div>
                         <div class="col-7">
                              {{form.email}}
                         </div>
                    </div> 

                    <!--separates the title and table-->
                    <div class="separator"></div> 

                    <div class="row justify-content-end form-group">
                         <div class="col-auto align-self-end">
                              <a type="button" class="btn btnN" href="/adminpage/Owner">Cancel</a>
                         </div>
                         {% if recordExist %}
                         <div class="col-auto align-self-end">
                              <button type="button" class="btn btnN" data-toggle="modal" data-target="#myModal">Delete</button>
                         </div>
                         {% endif %}
                         {% if not recordExist %}
                         <div class="col-auto align-self-end">
                              <button type="submit" class="btn btnY" name="_addAnother">Save and add another</button>
                         </div>
                         {% endif %}
                         <div class="col-auto align-self-end">
                              <button type="submit" class="btn btnY" name="_save">Save</button>
                         </div>
                    </div>
               </form>
          </div>
          {% endblock content %}

