<!-- 
This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2018-2019.
-->

<!--CODE HISTORY 
# Sontillano     # Feb 10, 2019    # made layout of the page
# Sontillano     # Feb 16, 2019    # fixed design
# Sontillano     # Mar 4, 2019     # fixed navbar

# File creation date: Feb. 10, 2019
-->
{% extends "adminpage/base.html" %}

          {% block title %} {{tableName}} {% endblock title %}
          
          {% block scripts %}
          <script>
               jQuery(document).ready(function($) {
                    $(".clickable-row").click(function() {
                         window.location = $(this).data("href");
                    });
               });
          </script>
          {% endblock scripts %}

          {% block content %}
          <!-- Container -->          
          <div class="container">
               <div class="row justify-content-center">
                    <div class="col-8 title ">
                         {{tableName}}  
                    </div>
                    <div class="col-2">
                         <a role="button" href="/adminpage/{{tableName}}/add" class="btn btnY">Add record</a>
                    </div>
               </div>   

               <!--separates the title and table-->
               <div class="separator"></div>

               <div class="row form_login justify-content-center">
                    <div class="col-9 table-responsive">
                         <table class="table">
                              <thead>
                                   <th class="th_tabsTable">PK</th>
                                   <th class="th_tabsTable">Name</th>
                              </thead>
                              <tbody>
                                   {% for record in records %}
                                   <tr class="clickable-row" data-href="/adminpage/{{tableName}}/{{record.item1}}">
                                        <td>{{record.item1}}</td>
                                        <td>{{record.item2}}</td>
                                   </tr>
                                   {% endfor %}
                              </tbody>
                         </table>
                    </div>
               </div>
          </div>
          {% endblock content %}
