.top_content_separator, .bottom_content_separator {
     height: 50px;
}

.filters {
     background-color: #f8f9fa;
}

.column {
     border-width: 0 0 0 5px;
     border-style: solid;
     border-color: #705947;
}

.navbar-brand {
     font-size: 23px;
     font-weight: bold;
}

.nav-link {
     font-size: 17px;   
}

.navbar-brand, .nav-link {
     font-family: 'Nunito', sans-serif;
     color: #f09450;
}

.navbar-brand:hover {
     color: #f09450;
} 

.nav-link:hover {
     color: white;
}

.greeting {
     font-family: 'Open Sans', sans-serif;
     font-size: 15px;
     color: white;
     background-color: #f09450;
     padding: 2px 0 2px 0;
}

.filterType {
     font-family: 'Noto Serif SC', serif;
     font-size: 20px;
     color: #705947;
}

.checkboxChoice {
     font-family: 'Open Sans', sans-serif;
}

.btnY {
     background-color: #f09450;
     color: #705947;
     font-weight: 550;
}

.btnY:hover {
     background-color: #f09450;
     color: #704525;
}

.btnN {
     color: #ffffff;
     background-color: #705947;
     font-weight: 550;
}

.housing_name {
     font-family: 'Noto Serif SC', serif;
     font-size: 27px;
     font-weight: bold;
} 

.subtitle  {
     font-family: 'Noto Serif SC', serif;
     font-size: 19px;
     color: #705947;
} 

.subtitle_link:hover {
     cursor: pointer;
     color: #705947;
}

.description, .comment_date {
     font-family: 'Open Sans', sans-serif;
}

.table-responsive {
     margin: auto;
}

.comment_date {
     border-style: solid;
     border-width: 0 0 1px 0;
     border-color: #e1e1e1;
}

.item {
     font-family: 'Nunito', sans-serif;
     font-size: 18px;
     font-style: italic;
}

.iframe-container {
     overflow: hidden;
     padding-top: 56.25%;
     position: relative;
}

.iframe-container iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
}

/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
     padding-top: 75%;
}

.title_owner {
     font-family: 'Noto Serif SC', serif;
     font-size: 33px;
} 

.desc_owner {
     font-family: 'Open Sans', sans-serif;
     text-align: center;
     color: #f09450;
}

.form_separator {
     height: 40px;
}

.formLabel {
     font-family: 'Noto Serif SC', serif;
     font-size: 18px;
     color: #705947;
}

.search_result {
     font-family: 'Noto Serif SC', serif;
     font-size: 30px;
     color: #705947;
} 

.single_record_top, .single_record_bottom {
     font-family: 'Open Sans', sans-serif;
}

.single_record_top:hover, .single_record_bottom:hover {
     cursor: pointer;
}

.record_bottom_left, .record_bottom_right {
     border-style: solid;
     border-width: 0 0 1px 0;
     border-color: #e1e1e1;
}

.record_top_right, .record_bottom_right {
     text-align: right;
}

.record_top_left {
     text-transform: uppercase;
     font-weight: bold;
     color: #f09450;
}

.results_separator {
     height: 20px;
}
