<!-- License: MIT License 
CODE HISTORY 
# Sontillano     # Jan 27, 2019    # made layout of the page
# Sontillano     # Jan 28, 2019    # changed the fonts
# Sontillano     # Feb 5, 2019     # integrated with django views.py

# File creation date: Jan. 27, 2019
-->

{% extends "mainpage/base.html" %}

{% block content %}
          <!-- actual page content -->
          <div class="container">
               <form method="post">
               {% csrf_token %}                 
                    <div class="row filters justify-content-center">
                         <div class="col-4 column">
                              <!-- housing area dropdown -->
                              <div class="form-group">
                                   <label for="where" class="filterType" >Area</label> 
                                   <select class="form-control" id="where" name="area">
                                   {% for n, area in areaChoices %}
                                        <option value={{ n }}>{{area}}</option>
                                   {% endfor %}
                                   </select>
                              </div>

                              <!-- housing property dropdown -->
                              <div class="form-group">
                                   <label for="propertyType" class="filterType" >Property Type</label>
                                   <select class="form-control" id="propertyType" name="propertyType">
                                   {% for n, property in propertyChoices %}
                                        <option value={{ n }}>{{property}}</option>
                                   {% endfor %}
                                   </select>
                              </div>

                              <!-- housing home dropdown -->
                              <div class="form-group">
                                   <label for="houseType" class="filterType">Home Type</label>
                                   <select class="form-control" id="houseType" name="homeType">
                                   {% for n, home in homeChoices %}
                                        <option value={{ n }}>{{home}}</option>
                                   {% endfor %}
                                   </select>
                              </div>

                              <!-- housing price textbox -->
                              <div class="form-group">
                                   <label for="priceRange" class="filterType">Max cost (per month)</label>
                                   <input type="text" class="form-control" placeholder="Maximum" name="priceMax">
                              </div>

                              <!-- housing amenities checkbox -->
                              <div class="form-group">
                                   <label for="amenities" class="filterType">Amenities</label>
                                   <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="kitchen" name="kitchen">
                                        <label class="form-check-label" for="kitchen" class="checkboxChoice">Kitchen</label>
                                   </div> 
                                   <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="aircon" name="aircon">
                                        <label class="form-check-label" for="aircon" class="checkboxChoice">Air conditioning</label>
                                   </div> 
                                   <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="washer" name="washer">
                                        <label class="form-check-label" for="washer" class="checkboxChoice">Washer</label>
                                   </div> 
                                   <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="dryer" name="dryer">
                                        <label class="form-check-label" for="dryer" class="checkboxChoice">Dryer</label>
                                   </div> 
                                   <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="wifi" name="wifi">
                                        <label class="form-check-label" for="wifi" class="checkboxChoice">Wifi</label>
                                   </div> 
                                   <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="iron" name="iron">
                                        <label class="form-check-label" for="iron" class="checkboxChoice">Iron</label>
                                   </div> 
                                   <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="tv" name="tv">
                                        <label class="form-check-label" for="tv" class="checkboxChoice">TV</label>
                                   </div> 
                              </div>

                              <!-- housing facilities checkbox -->
                              <div class="form-group">
                                   <label for="amenities" class="filterType">Facilities</label>
                                   <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="parking" name="parking">
                                        <label class="form-check-label" for="parking" class="checkboxChoice">Parking</label>
                                   </div> 
                              </div>

                              <!-- housing rules checkbox -->
                              <div class="form-group">
                                   <label for="amenities" class="filterType">House Rules</label>
                                   <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="pets" name="pet">
                                        <label class="form-check-label" for="pets" class="checkboxChoice">Pets allowed</label>
                                   </div> 
                                   <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="smoking" name="smoking">
                                        <label class="form-check-label" for="smoking" class="checkboxChoice">Smoking allowed</label>
                                   </div> 
                                   <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="nocurfew" name="curfew">
                                        <label class="form-check-label" for="nocurfew" class="checkboxChoice">No curfew</label>
                                   </div> 
                              </div>

                              <!-- submit button -->
                              <div class="form-group mt-5">
                                   <button type="submit" class="btn btnY">Search</button>
                              </div>
                         </div> 
                    </div>
               </form>
          </div>
{% endblock content %}
