
<!-- CODE HISTORY 
# Sontillano     # Jan 27, 2019    # made layout of the page
# Sontillano     # Jan 28, 2019    # changed the fonts
# Sontillano     # Feb 5, 2019     # integrated with django views.py

# File creation date: Jan. 27, 2019
-->

<!DOCTYPE html>

{% load static %}

<html>
     <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width+device-width, initial-scale=1">
          <title>HomeKo</title>

          <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC|Nunito:300|Open+Sans" rel="stylesheet"> 
          <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">

          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
          <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

          <style>
               .top_content_separator, .bottom_content_separator {
                    height: 80px;
               }

               .navbar {
                    background-color: #705947;
               }

               .navbar-brand {
                    font-size: 23px;
                    font-weight: bold;
               }

               .nav-link {
                    font-size: 17px;   
               }

               .navbar-brand, .nav-link {
                    font-family: 'Nunito', sans-serif;
                    color: #f09450;
               }

               .navbar-brand:hover {
                    color: #f09450;
               } 

               .nav-link:hover {
                    color: white;
               }


               .housing_name {
                    font-family: 'Noto Serif SC', serif;
                    font-size: 27px;
                    font-weight: bold;
               } 

               .housing_types, .housing_contact_title, .housing_address_title, .housing_price_link, .housing_amenity_link, .housing_facility_link, .housing_rule_link, .housing_comment_title  {
                    font-family: 'Noto Serif SC', serif;
                    font-size: 19px;
               } 

               .housing_price_link:hover, .housing_amenity_link:hover, .housing_facility_link:hover, .housing_rule_link:hover {
                    cursor: pointer;
               }

               .housing_price_desc, .amenity_desc, .facility_desc, .rule_desc, .comment_item, .comment_date {
                    font-family: 'Open Sans', sans-serif;
               }

               .table-responsive {
                    margin: auto;
               }

               .comment_date {
                    border-style: solid;
                    border-width: 0 0 1px 0;
               }

               .amenity_item, .facility_item, .rule_item {
                    font-family: 'Nunito', sans-serif;
                    font-size: 18px;
                    font-style: italic;
               }

               .iframe-container {
                    overflow: hidden;
                    padding-top: 56.25%;
                    position: relative;
               }

               .iframe-container iframe {
                    border: 0;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
               }

               /* 4x3 Aspect Ratio */
               .iframe-container-4x3 {
                    padding-top: 75%;
               }

          </style>
          <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
          
     </head>
     <body>
          <!-- search modal: overlay search housing form -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog" role="document">
                    <div class="modal-content">
                         <form method="post">
                         {% csrf_token %}
                              <div class="modal-header">
                                   <h5 class="modal-title" id="exampleModalLabel">Search Housing</h5>
                                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                   </button>
                              </div>
                              <div class="modal-body">         
                                   <div class="form-group row">
                                        <div class="col-4">
                                             <label for="area_modal" class="col-form-label">Area</label>
                                        </div>
                                        <div class="col-8">
                                             <select class="form-control" id="area_modal" name="area">
                                             {% for n, area in areaChoices %}
                                                  <option value={{ n }}>{{area}}</option>
                                             {% endfor %}
                                             </select>
                                        </div>
                                   </div>                                   
                                   <div class="form-group row">
                                        <div class="col-4">
                                             <label for="propertyType_modal" class="col-form-label">Property Type</label>
                                        </div>
                                        <div class="col-8">
                                             <select class="form-control" id="propertyType_modal" name="propertyType">
                                             {% for n, property in propertyChoices %}
                                                  <option value={{ n }}>{{property}}</option>
                                             {% endfor %}
                                             </select>
                                        </div>
                                   </div>
                                   <div class="form-group row">
                                        <div class="col-4">
                                             <label for="houseType_modal" class="col-form-label">Home Type</label>
                                        </div>
                                        <div class="col-8">
                                             <select class="form-control" id="houseType_modal" name="homeType">
                                             {% for n, home in homeChoices %}
                                                  <option value={{ n }}>{{home}}</option>
                                             {% endfor %}
                                             </select>
                                        </div>
                                   </div>
                                   <div class="form-group row">
                                        <div class="col-4">
                                             <label for="price_modal" class="col-form-label">Max cost (per month)</label>
                                        </div>
                                        <div class="col-8">
                                             <input type="text" class="form-control" placeholder="Maximum" name="priceMax">
                                        </div>
                                   </div>
                                   <div class="form-group row">
                                        <div class="col-4">
                                             <label for="rate" class="col-form-label">Amenities</label>
                                        </div>
                                        <div class="col-8">
                                             <div class="form-check">
                                                  <input class="form-check-input" type="checkbox" id="kitchen" name="kitchen">
                                                  <label class="form-check-label" for="kitchen" class="checkboxChoice">Kitchen</label>
                                             </div> 
                                             <div class="form-check">
                                                  <input class="form-check-input" type="checkbox" id="aircon" name="aircon">
                                                  <label class="form-check-label" for="aircon" class="checkboxChoice">Air conditioning</label>
                                             </div> 
                                             <div class="form-check">
                                                  <input class="form-check-input" type="checkbox" id="washer" name="washer">
                                                  <label class="form-check-label" for="washer" class="checkboxChoice">Washer</label>
                                             </div> 
                                             <div class="form-check">
                                                  <input class="form-check-input" type="checkbox" id="dryer" name="dryer">
                                                  <label class="form-check-label" for="dryer" class="checkboxChoice">Dryer</label>
                                             </div> 
                                             <div class="form-check">
                                                  <input class="form-check-input" type="checkbox" id="wifi" name="wifi">
                                                  <label class="form-check-label" for="wifi" class="checkboxChoice">Wifi</label>
                                             </div> 
                                             <div class="form-check">
                                                  <input class="form-check-input" type="checkbox" id="iron" name="iron">
                                                  <label class="form-check-label" for="iron" class="checkboxChoice">Iron</label>
                                             </div> 
                                             <div class="form-check">
                                                  <input class="form-check-input" type="checkbox" id="tv" name="tv">
                                                  <label class="form-check-label" for="tv" class="checkboxChoice">TV</label>
                                             </div> 
                                        </div>
                                   </div>
                                   <div class="form-group row">
                                        <div class="col-4">
                                             <label for="rate" class="col-form-label">Facilities</label>
                                        </div>
                                        <div class="col-8">
                                             <div class="form-check">
                                                  <input class="form-check-input" type="checkbox" id="parking" name="parking">
                                                  <label class="form-check-label" for="parking" class="checkboxChoice">Parking</label>
                                             </div> 
                                        </div>
                                   </div>
                                   <div class="form-group row">
                                        <div class="col-4">
                                             <label for="rate" class="col-form-label">House Rules</label>
                                        </div>
                                        <div class="col-8">
                                             <div class="form-check">
                                                  <input class="form-check-input" type="checkbox" id="pets" name="pet">
                                                  <label class="form-check-label" for="pets" class="checkboxChoice">Pets allowed</label>
                                             </div> 
                                             <div class="form-check">
                                                  <input class="form-check-input" type="checkbox" id="smoking" name="smoking">
                                                  <label class="form-check-label" for="smoking" class="checkboxChoice">Smoking allowed</label>
                                             </div> 
                                             <div class="form-check">
                                                  <input class="form-check-input" type="checkbox" id="nocurfew" name="curfew">
                                                  <label class="form-check-label" for="nocurfew" class="checkboxChoice">No curfew</label>
                                             </div> 
                                        </div>
                                   </div>                                  
                              </div>          
                              <div class="modal-footer">
                                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                   <button type="submit" class="btn btn-primary">Search</button>
                              </div>
                         </form>          
                    </div>
               </div>
          </div>
          <!--search modal end-->

          <!--navbar-->
          <nav class="navbar navbar-expand-sm navbar-light bg-light">          
               <div class="container">
                    <a class="navbar-brand" href="/">
                         <img src="{% static "mainpage/homeko_logo.svg" %}" width="40" height="40" alt="">HomeKo
                    </a>  
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarText">
                         <ul class="navbar-nav mr-auto"></ul>
                         <ul class="navbar-nav">
                              <li class="nav-item">
                                   <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">Search</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="/request">Housing Request</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="/ownerlogin">Housing Owner</a>
                              </li>
                         </ul>
                    </div>
               </div>
          </nav>
          <!--navbar end-->

          <!-- separator of navbar and actual page content -->
          <div class="top_content_separator"></div>

          <!-- actual page content -->
          <div class="container">
               <!-- housing name -->
               <div class="row housing_name justify-content-center">
                    <div class="col-9">
                         {{housing.housingname}}     
                    </div>
               </div>

               <!-- housing types -->
               <div class="row housing_types justify-content-center pb-3">
                    <div class="col-9">
                         {{housing.propertytype.propertytypename}} | {{housing.housetype.housetypename}}
                    </div>
               </div>

               <!-- housing contact -->
               <div class="row housing_contact justify-content-center pb-3">
                    <div class="col-9">
                         <div class="housing_contact_title">
                              Contact: 
                         </div>
                         {{ownername}} ({{contact}})
                    </div>
               </div>

               <!-- housing address -->
               <div class="row housing_address justify-content-center pb-3">
                    <div class="col-9">
                         <div class="housing_address_title">
                              Address 
                         </div>
                         {{housing.address}}
                    </div>
               </div>

               <!-- housing map -->
               {% if housing.maphtml %}
               <div class="row housing_map justify-content-center pb-3">
                    <div class="col-9">
                         <div class="iframe-container">                             
                              <iframe src="{{housing.maphtml}}" allowfullscreen></iframe>
                         </div>
                    </div>
               </div>
               {% endif %}

               <!-- housing cost -->
               <div class="row housing_price_title justify-content-center align-items-center pb-3">
                    <div class="col-9">
                         <a class="housing_price_link" data-toggle="collapse" data-target="#housing_price_desc" aria-expanded="true" aria-controls="housing_price_desc">
                              Cost
                              <ion-icon name="arrow-dropdown"></ion-icon>
                         </a>          
                    </div>
               </div>
               <div class="row housing_price_desc justify-content-center collapse multi-collapse pb-3" id="housing_price_desc">
                    <div class="col-8 table-responsive">
                         <table class="table">
                              <tbody>
                              {% if rooms %}
                              {% for room in rooms %}
                                   <tr>
                                        <td>{{room.roomname}}</td>
                                        <td>{{room.cost}}</td>
                                   </tr>
                              {% endfor %}
                              {% endif %}
                              </tbody>
                         </table>
                    </div>
               </div>

               <!-- housing amenities -->
               <div class="row housing_amenity_title justify-content-center align-items-center pb-3">
                    <div class="col-9">
                         <a class="housing_amenity_link" data-toggle="collapse" data-target="#housing_amenity_desc" aria-expanded="false" aria-controls="housing_amenity_desc">
                              Amenities
                              <ion-icon name="arrow-dropdown"></ion-icon>
                         </a>          
                    </div>
               </div>
               {% if amenities %}
               {% for amenity in amenities %}         
               <div class="row housing_amenity_desc justify-content-center collapse multi-collapse pb-3" id="housing_amenity_desc">
                    <div class="col-8 amenity_item">
                         {{amenity.additionalinfoid.additionalinfoname}}
                    </div>
                    {% if amenity.description %}
                    <div class="col-7 amenity_desc">
                         {{amenity.description}}
                    </div>
                    {% endif %} 
               </div>
               {% endfor %}
               {% else %}
               <div class="row housing_amenity_desc justify-content-center collapse multi-collapse pb-3" id="housing_amenity_desc">
                    <div class="col-8">
                         NONE
                    </div>
               </div>
               {% endif %} 

               <!-- housing facilities -->         
               <div class="row housing_facility_title justify-content-center align-items-center pb-3">
                    <div class="col-9">         
                         <a class="housing_facility_link" data-toggle="collapse" data-target="#housing_facility_desc" aria-expanded="false" aria-controls="housing_facility_desc">
                              Facilities
                              <ion-icon name="arrow-dropdown"></ion-icon>
                         </a>            
                    </div>
               </div>
               {% if facilities %}
               {% for facility in facilities %}
               <div class="row housing_facility_desc justify-content-center collapse multi-collapse pb-3" id="housing_facility_desc">          
                    <div class="col-8 facility_item">
                         {{facility.additionalinfoid.additionalinfoname}}
                    </div>
                    {% if facility.description %}
                    <div class="col-7 facility_desc">
                         {{facility.description}}
                    </div>
                    {% endif %}
               </div>
               {% endfor %}
               {% else %}
               <div class="row housing_facility_desc justify-content-center collapse multi-collapse pb-3" id="housing_facility_desc">
                    <div class="col-8">
                         NONE
                    </div>
               </div>
               {% endif %} 

               <!-- housing rules -->
               <div class="row housing_rule_title justify-content-center align-items-center pb-3">
                    <div class="col-9">         
                         <a class="housing_rule_link" data-toggle="collapse" data-target="#housing_rule_desc" aria-expanded="false" aria-controls="housing_rule_desc">
                              House Rules
                              <ion-icon name="arrow-dropdown"></ion-icon>
                         </a>                  
                    </div>
               </div>
               {% if rules %}
               {% for rule in rules %}
               <div class="row housing_rule_desc justify-content-center collapse multi-collapse pb-3" id="housing_rule_desc">         
                    <div class="col-8 rule_item">
                         {{rule.additionalinfoid.additionalinfoname}}
                    </div>
                    {% if rule.description %}
                    <div class="col-7 rule_desc">
                         {{rule.description}}
                    </div>
                    {% endif %}
               </div>
               {% endfor %}
               {% else %}
               <div class="row housing_rule_desc justify-content-center collapse multi-collapse pb-3" id="housing_rule_desc">
                    <div class="col-8">
                         NONE
                    </div>
               </div>
               {% endif %}

               <!-- housing comments -->
               <div class="row justify-content-center pt-5 pb-2">
                    <div class="col-9 housing_comment_title ">      
                         Comments  
                    </div>
               </div>
               {% for comment in comments %}
               <div class="row justify-content-center pt-2">
                    <div class="col-8 comment_item ">         
                         {{comment.comment}}
                    </div>
               </div>
               <div class="row justify-content-center">
                    <div class="col-8 comment_date pb-2">
                         {{comment.dateposted}}
                    </div>
               </div>
               {% endfor %}
               <form onsubmit="openModal()" id="myForm">
                    <div class="row justify-content-center">          
                         <div class="col-7 comment_new pt-4">
                              <textarea class="form-control" id="requestContent" rows="1" placeholder="Add comment" required="true"></textarea>
                         </div>
                         <div class="col-1 comment_post pt-4">
                              <button type="submit" class="btn btn-primary">Post</button>
                         </div>          
                    </div>
               </form>         
          </div>

          <!-- space at the bottom -->
          <div class="bottom_content_separator"></div>

          <!-- show modal when comment is successfully submitted -->
          <script>        
               $('#myForm').on('submit', function(e) {
                    $('#myModal').modal('show');
                    e.preventDefault();
               });                    
          </script>         
     </body>
</html>