{% load crispy_forms_tags %}
{% block content %}
	<div class = "content-section"> 
		<form method = "POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class = "border-bottom mb-4">Owner Log In</legend>
				{{form|crispy}}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Go!</button>
			</div>
		</form>
		<div class ="border-top pt-3">
			<small class = "text-muted">
			Are you a housing owner? Log in to manage your housings. Don't have an account? Click <a class="ml-2" href="{% url 'register' %}">here.</a>
			</small>
		</div>
	</div>
{% endblock content %}