<!-- License: MIT License
CODE HISTORY 
# Sontillano     # Jan 27, 2019    # made layout of the page
# Sontillano     # Jan 28, 2019    # changed the fonts
# Sontillano     # Feb 5, 2019     # integrated with django views.py

# File creation date: Jan. 27, 2019
-->
{% extends "mainpage/base.html" %}

          {% block title %} Owner Log in {% endblock title %}

          {% block imports %}
          <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC|Nunito:300|Open+Sans:300" rel="stylesheet">
          {% endblock imports %}

          <!-- actual page content -->
          {% block content %}
          <div class="container">
               <!--page title-->
               <div class="row title_owner justify-content-center">
                    Housing Owner   
               </div>

               <!--page description-->
               <div class="row desc_owner justify-content-center">
                    <div class="col-lg-6 col-md-8 col-10">
                         Are you a housing owner? Log in to manage your housings. Don't have an account? Click 
                         <a href="/ownerlogin/signup">here</a> 
                         to create an account. 
                    </div> 
               </div>

               <!--separate page description and form-->
               <div class="form_separator"></div>

               <!--request form-->
               <div class="row form_login justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-8 col-10">
                         <form method="post">
                         {% csrf_token %}
                              <!--username textbox-->        
                              <div class="form-group">
                                   <label for="uname" class="formLabel">Username</label>
                                   <input type="text" class="form-control" id="uname" name="uname" required="true">
                              </div>

                              <!--password textbox-->         
                              <div class="form-group">
                                   <label for="ownerPW" class="formLabel">Password </label>
                                   <input type="password" class="form-control" id="adminPW" name="pw" placeholder="Password" required="true">
                                   {% if incorrect %}
                                   <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        Incorrect username and/or password!
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                             <span aria-hidden="true">&times;</span>
                                        </button>
                                   </div>
                                   {% endif %}
                              </div>

                              <!-- submit button -->
                              <button type="submit" class="btn btnY" name="login">Log in</button>          
                         </form>
                    </div>
               </div>
          </div>
          {% endblock content %}


