<!-- License: MIT License
CODE HISTORY 
# Sontillano     # Jan 27, 2019    # made layout of the page
# Sontillano     # Jan 28, 2019    # changed the fonts
# Sontillano     # Feb 5, 2019     # integrated with django views.py

# File creation date: Jan. 27, 2019
-->
{% extends "mainpage/base.html" %}

          {% block title %} Request {% endblock title %}

          {% block imports %}
          <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC|Nunito:300|Open+Sans:300" rel="stylesheet">
          {% endblock imports %}

          <!-- actual page content -->
          {% block content %}
          <div class="container">
               <!--page title-->
               <div class="row title_owner justify-content-center">
                    Housing Request   
               </div>

               <!--page description-->
               <div class="row desc_owner justify-content-center">
                    <div class="col-lg-6 col-md-8 col-10">
                         Do you know any housing that is still not in our website? Send us a request to add a housing. Or is there any outdated housing information? Send a request to update or delete a housing. 
                    </div> 
               </div>
               
               <!--separate page description and form-->
               <div class="form_separator"></div>
               
               <!--request form-->
               <div class="row form_request justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-8 col-10">
                         <form method="post">
                         {% csrf_token %}
                              <!--email textbox-->          
                              <div class="form-group">
                                   <label for="senderEmail" class="formLabel">Email</label>
                                   {{requestForm.sender}}
                              </div>
                              
                              <!--request type dropdown-->
                              <div class="form-group">
                                   <label for="requestType" class="formLabel">Request Type</label>
                                   {{requestForm.reqtype}}
                              </div>
                              
                              <!--request content textarea-->          
                              <div class="form-group">
                                   <label for="reuestContent" class="formLabel">Request content: </label>
                                   {{requestForm.message}}
                              </div>
                              
                              <!-- submit button -->
                              <div class="form-group">
                                   <button type="submit" class="btn btnY">Submit</button>
                              </div>
                         </form>
                    </div>
               </div>
          </div>
          {% endblock content %}


