<!-- License: MIT License
CODE HISTORY 
# Sontillano     # Jan 27, 2019    # made layout of the page
# Sontillano     # Jan 28, 2019    # changed the fonts
# Sontillano     # Feb 5, 2019     # integrated with django views.py

# File creation date: Jan. 27, 2019
-->

{% extends "mainpage/base.html" %}

          {% block title %} Search Result {% endblock title %}

          {% block scripts %}
          <script>
               jQuery(document).ready(function($) {
                    $(".clickable-row").click(function() {
                         window.location = $(this).data("href");
                    });
               });
          </script>
          {% endblock scripts %}

          <!-- actual page content -->
          {% block content %}
          <div class="container"> 
               <!--page title-->
               <div class="row search_result justify-content-center">
                    <div class="col-9">
                         <div class="title_search_result">
                              Search Result
                         </div>
                    </div>    
               </div>
               
               <!--separate title and results-->
               <div class="results_separator"></div>
               
               {% if searchResults %}
                    <!--list of results-->
                    {% for result in searchResults %}
                    <!--housing name and types-->
                    <div class="row single_record_top justify-content-center clickable-row" data-href="/record/{{ result.item1.housingid }}">
                         <div class="col-4 record_top_left pt-1">
                              {{result.item1.housingname}}       
                         </div>
                         <div class="col-4 record_top_right pt-1">
                              {{result.item1.propertytype.propertytypename}} | {{result.item1.housetype.housetypename}}
                         </div>
                    </div>
                    <!--housing area and price range-->
                    <div class="row single_record_bottom justify-content-center clickable-row" data-href="/">
                         <div class="col-4 record_bottom_left pb-1">
                              {{result.item1.area.areaname}}
                         </div>
                         <div class="col-4 record_bottom_right pb-1">
                              {% if result.item2 %}
                              {{result.item2}}
                              {% endif %}
                         </div>
                    </div>
                    {% endfor %}
               {% else %}
                    <div class="row single_record_top justify-content-center">
                         <div class="col-8">
                              NONE
                         </div>
                    </div>
               {% endif %}
          </div>
          {% endblock content %}
